<p>{{greeting}} {{full_name}},</p>

    <p>Here {{pin_conjunction}} your energy {{pin_plurality}}.</p>
    <ul>
    {% for pin in pin_list %}
        <li>{{pin}}</li>
    {% endfor %}
    </ul>

<p>Regards,</p>
<p>The GTG Team.</p>
